In [1]:
import pandas as pd

file_path = 'D:/Data STATBIS ITS/TUGAS AKHIR/April-July2021_Sunda.csv'

# Membaca file CSV ke dalam DataFrame
data_frame = pd.read_csv(file_path)

# Menghitung jumlah baris data
jumlah_baris = data_frame.shape[0]

# Menampilkan jumlah baris
print("Jumlah baris data:", jumlah_baris)

Jumlah baris data: 7768690

In [2]:
jumlah_kapal = data_frame['msg_mmsi'].nunique()
print("Jumlah kapal:", jumlah_kapal)

Jumlah kapal: 3013

In [2]:
print("Daftar kolom:")
print(data_frame.columns)

Daftar kolom:
Index(['msg_mmsi', 'msg_kind', 'msg_repeat', 'data_lat', 'data_lon',
       'data_nav', 'data_rot', 'data_sog', 'data_cog', 'data_head', 'data_utc',
       'dt_last', 'ship_name', 'ship_csign', 'shipkind_id', 'shipflag_id',
       'ship_gt', 'ship_dwt', 'ship_lbp', 'ship_loa', 'ship_draft',
       'ship_depth', 'ship_beam', 'ship_build_int', 'ship_build_str',
       'ship_class', 'shipkind_name', 'flag_name\', 'dt_date time1',
       'dt_date time2'],
      dtype='object')

In [3]:
# Konversi kolom dt_date.time1 menjadi tipe datetime
data_frame['dt_date.time1'] = pd.to_datetime(data_frame['dt_date time1'])

In [4]:
# Langkah 1: Filter berdasarkan tanggal
start_date = pd.to_datetime('2021-05-01')
end_date = pd.to_datetime('2021-05-30')
filtered_data1 = data_frame[(data_frame['dt_date.time1'] >= start_date) & (data_frame['dt_date.time1'] <= end_date)]

# Menampilkan summary data dan jumlah data
print("Summary data setelah langkah 1:")
print(filtered_data1.describe())
print("Jumlah data setelah langkah 1:", filtered_data1.shape[0])

jumlah_kapal1 = filtered_data1['msg_mmsi'].nunique()
print("Jumlah kapal:", jumlah_kapal1)

Summary data setelah langkah 1:
           msg_mmsi      msg_kind  msg_repeat      data_lat      data_lon  \
count  3.216862e+06  3.216862e+06   3216862.0  3.216862e+06  3.216862e+06
mean   5.148521e+08  2.010783e+00         0.0 -5.901589e+00  1.060392e+02
std    5.521730e+07  3.694807e+00         0.0  1.224679e-01  2.197182e-01
min    1.000000e+08  1.000000e+00         0.0 -7.053450e+00  1.046311e+02
25%    5.250054e+08  1.000000e+00         0.0 -5.957500e+00  1.059682e+02
50%    5.250171e+08  1.000000e+00         0.0 -5.934120e+00  1.059874e+02
75%    5.251006e+08  1.000000e+00         0.0 -5.877890e+00  1.061081e+02
max    8.686149e+08  1.900000e+01         0.0 -5.087170e+00  1.074605e+02

           data_nav      data_rot      data_sog      data_cog     data_head  \
count  3.216862e+06  3.216862e+06  3.216862e+06  3.216862e+06  3.216862e+06
mean   2.351376e+00 -7.440752e+01  3.666923e+00  1.773420e+02  3.678363e+02
std    4.546512e+00  6.605966e+01  6.218892e+00  1.042454e+02  1.896932e+02
min    0.000000e+00 -1.280000e+02  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00 -1.280000e+02  0.000000e+00  8.800000e+01  1.950000e+02
50%    0.000000e+00 -1.280000e+02  0.000000e+00  1.830000e+02  5.110000e+02
75%    1.000000e+00  0.000000e+00  7.500000e+00  2.710000e+02  5.110000e+02
max    1.500000e+01  1.270000e+02  1.020000e+02  4.090000e+02  5.110000e+02

       ...   shipkind_id   shipflag_id       ship_gt      ship_dwt  \
count  ...  3.216862e+06  3.216862e+06  3.216862e+06  3.216862e+06
mean   ...  2.006942e+02  6.742752e+01  9.146918e+03  1.117675e+04
std    ...  1.501279e+02  3.735815e+01  1.839088e+04  3.390310e+04
min    ...  1.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    ...  1.030000e+02  8.000000e+01  4.470000e+02  1.510000e+02
50%    ...  1.490000e+02  8.000000e+01  4.824000e+03  2.083000e+03
75%    ...  3.590000e+02  8.000000e+01  8.274000e+03  4.879000e+03
max    ...  4.430000e+02  2.540000e+02  1.951990e+05  3.880790e+05

           ship_lbp      ship_loa    ship_draft    ship_depth     ship_beam  \
count  3.216862e+06  3.216862e+06  3.216862e+06  3.216862e+06  3.216862e+06
mean   5.563794e+01  9.215157e+01  4.554771e+00  4.994037e+00  1.559665e+01
std    6.894791e+01  6.786193e+01  4.105318e+00  6.573731e+00  1.138486e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  3.020000e+01  0.000000e+00  0.000000e+00  7.320000e+00
50%    0.000000e+00  9.769000e+01  4.600000e+00  0.000000e+00  1.700000e+01
75%    1.034100e+02  1.205800e+02  5.920000e+00  7.800000e+00  2.043000e+01
max    3.456000e+02  1.200000e+03  2.320000e+01  3.480000e+01  7.000000e+01

       ship_build_int
count    3.216862e+06
mean     7.089119e+08
std      5.494810e+08
min     -1.262556e+08
25%      9.466920e+07
50%      6.941988e+08
75%      1.293815e+09
max      1.577812e+09

[8 rows x 22 columns]
Jumlah data setelah langkah 1: 3216862
Jumlah kapal: 1740

In [5]:
# Langkah 2: Hapus pesan AIS dengan kecepatan tidak realistis (SOG ≥ 30 knots)
# Mengurutkan data berdasarkan MMSI dan waktu
filtered_data1 = filtered_data1.sort_values(by=['msg_mmsi', 'dt_date.time1'])

filtered_data2 = filtered_data1[filtered_data1['data_sog'] < 30]

filtered_data3 = filtered_data2[filtered_data2['data_nav'] != '0']

# Menampilkan summary data dan jumlah data
print("Summary data setelah langkah 3:")
print(filtered_data3.describe())
print("Jumlah data setelah langkah 3:", filtered_data3.shape[0])

jumlah_kapal3 = filtered_data3['msg_mmsi'].nunique()
print("Jumlah kapal:", jumlah_kapal3)

Summary data setelah langkah 3:
           msg_mmsi      msg_kind  msg_repeat      data_lat      data_lon  \
count  3.212055e+06  3.212055e+06   3212055.0  3.212055e+06  3.212055e+06
mean   5.148224e+08  2.011761e+00         0.0 -5.902247e+00  1.060390e+02
std    5.524108e+07  3.696904e+00         0.0  1.211018e-01  2.196997e-01
min    1.000000e+08  1.000000e+00         0.0 -7.053450e+00  1.046311e+02
25%    5.250054e+08  1.000000e+00         0.0 -5.957530e+00  1.059681e+02
50%    5.250171e+08  1.000000e+00         0.0 -5.934260e+00  1.059873e+02
75%    5.251006e+08  1.000000e+00         0.0 -5.878030e+00  1.061078e+02
max    8.686149e+08  1.900000e+01         0.0 -5.087170e+00  1.074605e+02

           data_nav      data_rot      data_sog      data_cog     data_head  \
count  3.212055e+06  3.212055e+06  3.212055e+06  3.212055e+06  3.212055e+06
mean   2.353607e+00 -7.451501e+01  3.520818e+00  1.770727e+02  3.681378e+02
std    4.549450e+00  6.604560e+01  4.937442e+00  1.040856e+02  1.896293e+02
min    0.000000e+00 -1.280000e+02  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00 -1.280000e+02  0.000000e+00  8.800000e+01  1.960000e+02
50%    0.000000e+00 -1.280000e+02  0.000000e+00  1.820000e+02  5.110000e+02
75%    1.000000e+00  0.000000e+00  7.500000e+00  2.710000e+02  5.110000e+02
max    1.500000e+01  1.270000e+02  2.950000e+01  4.090000e+02  5.110000e+02

       ...   shipkind_id   shipflag_id       ship_gt      ship_dwt  \
count  ...  3.212055e+06  3.212055e+06  3.212055e+06  3.212055e+06
mean   ...  2.009795e+02  6.751725e+01  9.159985e+03  1.119284e+04
std    ...  1.500509e+02  3.730253e+01  1.840121e+04  3.392571e+04
min    ...  1.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    ...  1.030000e+02  8.000000e+01  4.470000e+02  1.540000e+02
50%    ...  1.490000e+02  8.000000e+01  4.884000e+03  2.083000e+03
75%    ...  3.590000e+02  8.000000e+01  8.274000e+03  4.879000e+03
max    ...  4.430000e+02  2.540000e+02  1.951990e+05  3.880790e+05

           ship_lbp      ship_loa    ship_draft    ship_depth     ship_beam  \
count  3.212055e+06  3.212055e+06  3.212055e+06  3.212055e+06  3.212055e+06
mean   5.571296e+01  9.227921e+01  4.561001e+00  5.000751e+00  1.561817e+01
std    6.896635e+01  6.782453e+01  4.104800e+00  6.575820e+00  1.137834e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  3.020000e+01  0.000000e+00  0.000000e+00  7.320000e+00
50%    0.000000e+00  9.817000e+01  4.600000e+00  0.000000e+00  1.700000e+01
75%    1.034100e+02  1.205800e+02  5.920000e+00  7.800000e+00  2.043000e+01
max    3.456000e+02  1.200000e+03  2.320000e+01  3.480000e+01  7.000000e+01

       ship_build_int
count    3.212055e+06
mean     7.098473e+08
std      5.492233e+08
min     -1.262556e+08
25%      9.466920e+07
50%      6.941988e+08
75%      1.293815e+09
max      1.577812e+09

[8 rows x 22 columns]
Jumlah data setelah langkah 3: 3212055
Jumlah kapal: 1737

In [6]:
import pandas as pd
import numpy as np

# Menghitung selisih waktu antara dua pesan AIS berturut-turut
filtered_data3['time_diff'] = filtered_data3.groupby('msg_mmsi')['dt_date.time1'].diff()

# Menentukan selisih waktu maksimum
max_time_diff = pd.Timedelta(hours=2)

# Membuat kolom baru untuk menandai perjalanan yang berkesinambungan
filtered_data4 = filtered_data3.copy()
filtered_data4['continuous_trip'] = np.where(filtered_data4['time_diff'] <= max_time_diff, 0, 1)

# Mengatur nilai continuous_trip menjadi 0 untuk data pertama tiap kapal
first_index = filtered_data4.groupby('msg_mmsi').head(1).index
filtered_data4.loc[first_index, 'continuous_trip'] = 0

# Menampilkan summary data dan jumlah data
print(filtered_data4)
print("Jumlah data setelah langkah 4:", filtered_data4.shape[0])

          msg_mmsi  msg_kind  msg_repeat  data_lat   data_lon  data_nav  \
895059   100000000         1           0  -6.09692  106.88676         0
898458   100000000         1           0  -6.08923  106.88496         0
912263   100000000         1           0  -6.07502  106.88165         0
917635   100000000         1           0  -6.10105  106.88769         0
2034281  100000000         3           0  -5.95531  105.98379        15
...            ...       ...         ...       ...        ...       ...
3411694  810016036        18           0  -5.97872  106.11848         0
3412086  810016036        18           0  -5.98180  106.11608         0
3412624  810016036        18           0  -5.97851  106.11576         0
3413271  810016036        18           0  -5.96020  106.11467         0
2497260  868614888         1           0  -5.81522  106.10093         0

         data_rot  data_sog  data_cog  data_head  ...  ship_build_int  \
895059     -128.0       0.0       296        511  ...               0
898458     -128.0       6.5       149        511  ...               0
912263     -128.0       2.5        50        511  ...               0
917635     -128.0       6.0       176        511  ...               0
2034281    -128.0       0.0         0        511  ...               0
...           ...       ...       ...        ...  ...             ...
3411694       0.0       7.0       201        511  ...               0
3412086       0.0       5.5       168        511  ...               0
3412624       0.0       7.0         1        511  ...               0
3413271       0.0      15.5       343        511  ...               0
2497260    -128.0      11.0        98        511  ...               0

         ship_build_str ship_class            shipkind_name  flag_name\  \
895059              NaN        NaN                  unknown       NULL\
898458              NaN        NaN                  unknown       NULL\
912263              NaN        NaN                  unknown       NULL\
917635              NaN        NaN                  unknown       NULL\
2034281             NaN        NaN                  unknown       NULL\
...                 ...        ...                      ...         ...
3411694             NaN        NaN  Reserved for future use       NULL\
3412086             NaN        NaN  Reserved for future use       NULL\
3412624             NaN        NaN  Reserved for future use       NULL\
3413271             NaN        NaN  Reserved for future use       NULL\
2497260             NaN        NaN                  unknown       NULL\

                dt_date time1        dt_date time2       dt_date.time1  \
895059    05/09/2021 05:26 AM  05/09/2021 05:26:58 2021-05-09 05:26:00
898458    05/09/2021 05:46 AM  05/09/2021 05:46:03 2021-05-09 05:46:00
912263    05/09/2021 07:16 AM  05/09/2021 07:16:44 2021-05-09 07:16:00
917635    05/09/2021 07:51 AM  05/09/2021 07:51:12 2021-05-09 07:51:00
2034281   05/15/2021 09:45 PM  05/15/2021 21:45:34 2021-05-15 21:45:00
...                       ...                  ...                 ...
3411694   05/29/2021 04:30 PM  05/29/2021 16:30:04 2021-05-29 16:30:00
3412086   05/29/2021 04:32 PM  05/29/2021 16:32:29 2021-05-29 16:32:00
3412624   05/29/2021 04:35 PM  05/29/2021 16:35:17 2021-05-29 16:35:00
3413271   05/29/2021 04:40 PM  05/29/2021 16:40:57 2021-05-29 16:40:00
2497260   05/25/2021 10:28 AM  05/25/2021 10:28:57 2021-05-25 10:28:00

              time_diff  continuous_trip
895059              NaT                0
898458  0 days 00:20:00                0
912263  0 days 01:30:00                0
917635  0 days 00:35:00                0
2034281 6 days 13:54:00                1
...                 ...              ...
3411694 0 days 00:02:00                0
3412086 0 days 00:02:00                0
3412624 0 days 00:03:00                0
3413271 0 days 00:05:00                0
2497260             NaT                0

[3212055 rows x 33 columns]
Jumlah data setelah langkah 4: 3212055

In [7]:
# Menghitung jumlah data dengan kategori 0 dan 1 pada kolom 'continuous_trip'
count_0 = filtered_data4[filtered_data4['continuous_trip'] == 0].shape[0]
count_1 = filtered_data4[filtered_data4['continuous_trip'] == 1].shape[0]

print("Jumlah data dengan kategori 0:", count_0)
print("Jumlah data dengan kategori 1:", count_1)

Jumlah data dengan kategori 0: 3204959
Jumlah data dengan kategori 1: 7096

In [8]:
# Langkah 5: Hapus kapal dengan kurang dari 20 baris data AIS
min_data_count = 30

# Menghitung jumlah baris data AIS per kapal
ais_counts = filtered_data4['msg_mmsi'].value_counts()

# Membuat daftar MMSI kapal yang memiliki setidaknya 20 baris data AIS
valid_mmsi_list = ais_counts[ais_counts >= min_data_count].index.tolist()

# Menggunakan daftar MMSI valid untuk memfilter data
filtered_data5 = filtered_data4[filtered_data4['msg_mmsi'].isin(valid_mmsi_list)]

# Menampilkan summary data dan jumlah data
print("Summary data setelah langkah 5:")
print(filtered_data5.describe())
print("Jumlah data setelah langkah 5:", filtered_data5.shape[0])

jumlah_kapal5 = filtered_data5['msg_mmsi'].nunique()
print("Jumlah kapal:", jumlah_kapal5)

Summary data setelah langkah 5:
           msg_mmsi      msg_kind  msg_repeat      data_lat      data_lon  \
count  3.209578e+06  3.209578e+06   3209578.0  3.209578e+06  3.209578e+06
mean   5.148195e+08  2.006721e+00         0.0 -5.902309e+00  1.060386e+02
std    5.523480e+07  3.686968e+00         0.0  1.209527e-01  2.190257e-01
min    1.234568e+08  1.000000e+00         0.0 -7.053450e+00  1.046311e+02
25%    5.250054e+08  1.000000e+00         0.0 -5.957520e+00  1.059681e+02
50%    5.250171e+08  1.000000e+00         0.0 -5.934280e+00  1.059873e+02
75%    5.251006e+08  1.000000e+00         0.0 -5.878070e+00  1.061078e+02
max    8.100160e+08  1.900000e+01         0.0 -5.087170e+00  1.074605e+02

           data_nav      data_rot      data_sog      data_cog     data_head  \
count  3.209578e+06  3.209578e+06  3.209578e+06  3.209578e+06  3.209578e+06
mean   2.354232e+00 -7.454517e+01  3.519801e+00  1.770780e+02  3.681310e+02
std    4.550327e+00  6.604206e+01  4.937479e+00  1.040803e+02  1.896329e+02
min    0.000000e+00 -1.280000e+02  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00 -1.280000e+02  0.000000e+00  8.800000e+01  1.960000e+02
50%    0.000000e+00 -1.280000e+02  0.000000e+00  1.820000e+02  5.110000e+02
75%    1.000000e+00  0.000000e+00  7.500000e+00  2.710000e+02  5.110000e+02
max    1.500000e+01  1.270000e+02  2.950000e+01  4.090000e+02  5.110000e+02

       ...       ship_gt      ship_dwt      ship_lbp      ship_loa  \
count  ...  3.209578e+06  3.209578e+06  3.209578e+06  3.209578e+06
mean   ...  9.161917e+03  1.119416e+04  5.572418e+01  9.230247e+01
std    ...  1.840423e+04  3.393311e+04  6.896239e+01  6.780930e+01
min    ...  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    ...  4.470000e+02  1.640000e+02  0.000000e+00  3.020000e+01
50%    ...  4.884000e+03  2.083000e+03  0.000000e+00  9.817000e+01
75%    ...  8.274000e+03  4.879000e+03  1.034100e+02  1.205800e+02
max    ...  1.951990e+05  3.880790e+05  3.456000e+02  1.200000e+03

         ship_draft    ship_depth     ship_beam  ship_build_int  \
count  3.209578e+06  3.209578e+06  3.209578e+06    3.209578e+06
mean   4.561895e+00  5.001763e+00  1.562222e+01    7.099697e+08
std    4.104430e+00  6.575738e+00  1.137650e+01    5.491636e+08
min    0.000000e+00  0.000000e+00  0.000000e+00   -1.262556e+08
25%    0.000000e+00  0.000000e+00  7.320000e+00    9.466920e+07
50%    4.600000e+00  0.000000e+00  1.700000e+01    6.941988e+08
75%    5.920000e+00  7.900000e+00  2.043000e+01    1.293815e+09
max    2.320000e+01  3.480000e+01  7.000000e+01    1.577812e+09

                       time_diff  continuous_trip
count                    3208102     3.209578e+06
mean   0 days 00:05:17.295329138     2.139222e-03
std    0 days 03:35:54.492362719     4.620223e-02
min              0 days 00:00:00     0.000000e+00
25%              0 days 00:00:00     0.000000e+00
50%              0 days 00:00:00     0.000000e+00
75%              0 days 00:01:00     0.000000e+00
max             24 days 14:38:00     1.000000e+00

[8 rows x 24 columns]
Jumlah data setelah langkah 5: 3209578
Jumlah kapal: 1476

In [9]:
min_trip_duration = pd.Timedelta(hours=4)
filtered_data6 = filtered_data5.groupby('msg_mmsi').filter(lambda x: x['time_diff'].sum() >= min_trip_duration)

# Menampilkan summary data dan jumlah data
print("Summary data setelah langkah 6:")
print(filtered_data6.describe())
print("Jumlah data setelah langkah 6:", filtered_data6.shape[0])
jumlah_kapal6 = filtered_data6['msg_mmsi'].nunique()
print("Jumlah kapal:", jumlah_kapal6)

Summary data setelah langkah 6:
           msg_mmsi      msg_kind  msg_repeat      data_lat      data_lon  \
count  3.198727e+06  3.198727e+06   3198727.0  3.198727e+06  3.198727e+06
mean   5.148560e+08  2.001954e+00         0.0 -5.902520e+00  1.060386e+02
std    5.506255e+07  3.676436e+00         0.0  1.204483e-01  2.179279e-01
min    1.234568e+08  1.000000e+00         0.0 -7.053450e+00  1.046311e+02
25%    5.250054e+08  1.000000e+00         0.0 -5.957510e+00  1.059683e+02
50%    5.250171e+08  1.000000e+00         0.0 -5.934440e+00  1.059873e+02
75%    5.251006e+08  1.000000e+00         0.0 -5.878320e+00  1.061078e+02
max    8.100160e+08  1.900000e+01         0.0 -5.087170e+00  1.074605e+02

           data_nav      data_rot      data_sog      data_cog     data_head  \
count  3.198727e+06  3.198727e+06  3.198727e+06  3.198727e+06  3.198727e+06
mean   2.360276e+00 -7.473334e+01  3.491650e+00  1.771130e+02  3.685284e+02
std    4.554958e+00  6.601938e+01  4.914259e+00  1.041071e+02  1.895669e+02
min    0.000000e+00 -1.280000e+02  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00 -1.280000e+02  0.000000e+00  8.800000e+01  1.960000e+02
50%    0.000000e+00 -1.280000e+02  0.000000e+00  1.820000e+02  5.110000e+02
75%    1.000000e+00  0.000000e+00  7.500000e+00  2.710000e+02  5.110000e+02
max    1.500000e+01  1.270000e+02  2.950000e+01  4.090000e+02  5.110000e+02

       ...       ship_gt      ship_dwt      ship_lbp      ship_loa  \
count  ...  3.198727e+06  3.198727e+06  3.198727e+06  3.198727e+06
mean   ...  9.098480e+03  1.112182e+04  5.557894e+01  9.217424e+01
std    ...  1.829939e+04  3.381934e+04  6.875220e+01  6.759669e+01
min    ...  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    ...  4.950000e+02  1.800000e+02  0.000000e+00  3.020000e+01
50%    ...  4.884000e+03  2.083000e+03  0.000000e+00  9.800000e+01
75%    ...  8.274000e+03  4.608000e+03  1.034100e+02  1.205800e+02
max    ...  1.951990e+05  3.880790e+05  3.456000e+02  1.200000e+03

         ship_draft    ship_depth     ship_beam  ship_build_int  \
count  3.198727e+06  3.198727e+06  3.198727e+06    3.198727e+06
mean   4.553786e+00  4.989453e+00  1.560634e+01    7.096876e+08
std    4.094766e+00  6.561048e+00  1.135226e+01    5.490921e+08
min    0.000000e+00  0.000000e+00  0.000000e+00   -1.262556e+08
25%    0.000000e+00  0.000000e+00  7.320000e+00    9.466920e+07
50%    4.600000e+00  0.000000e+00  1.700000e+01    6.941988e+08
75%    5.920000e+00  7.800000e+00  2.043000e+01    1.293815e+09
max    2.320000e+01  3.480000e+01  7.000000e+01    1.577812e+09

                       time_diff  continuous_trip
count                    3197324     3.198727e+06
mean   0 days 00:05:18.136235176     2.146479e-03
std    0 days 03:36:16.294751981     4.628037e-02
min              0 days 00:00:00     0.000000e+00
25%              0 days 00:00:00     0.000000e+00
50%              0 days 00:00:00     0.000000e+00
75%              0 days 00:01:00     0.000000e+00
max             24 days 14:38:00     1.000000e+00

[8 rows x 24 columns]
Jumlah data setelah langkah 6: 3198727
Jumlah kapal: 1403

In [10]:
# Langkah 7: Menghitung kecepatan empiris dan hapus pesan abnormal dengan kecepatan empiris di atas 40 knots
import numpy as np

# Mengurutkan data berdasarkan MMSI dan waktu
filtered_data7= filtered_data6.sort_values(by=['msg_mmsi', 'dt_date.time1'])

# Menghitung jarak antara dua titik koordinat menggunakan haversine formula
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Radius bumi dalam kilometer
    dlat = np.radians(lat2 - lat1)
    dlon = np.radians(lon2 - lon1)
    a = np.sin(dlat / 2) ** 2 + np.cos(np.radians(lat1)) * np.cos(np.radians(lat2)) * np.sin(dlon / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    return distance

# Menghitung jarak antara dua pesan AIS
filtered_data7['distance'] = haversine(filtered_data7['data_lat'].shift(), filtered_data7['data_lon'].shift(), filtered_data7['data_lat'], filtered_data7['data_lon'])

# Menghapus data dengan selisih waktu NaN
filtered_data7 = filtered_data7.dropna(subset=['time_diff'])

# Mengonversi timedelta menjadi jumlah detik (integer)
filtered_data7['time_diff_seconds'] = filtered_data7['time_diff'].dt.total_seconds()

# Menghitung kecepatan empiris (dalam kilometer per jam)
filtered_data7['empirical_speed'] = filtered_data7['distance'] / ((filtered_data7['time_diff_seconds'] / 3600))

# Menghapus pesan dengan kecepatan empiris di atas 40 knots (74.08 km/jam)
filtered_data8 = filtered_data7[filtered_data7['empirical_speed'] < 40*1.852]

# Menampilkan summary data dan jumlah data
print("Jumlah data setelah filtering:", filtered_data8.shape[0])
jumlah_kapal8 = filtered_data8['msg_mmsi'].nunique()
print("Jumlah kapal:", jumlah_kapal8)

Jumlah data setelah filtering: 1392552
Jumlah kapal: 1403

In [11]:
# Menghitung jumlah data masing-masing kapal sebelum preprocessing
jumlah_data_sebelum = filtered_data7['msg_mmsi'].value_counts().reset_index()
jumlah_data_sebelum.columns = ['msg_mmsi', 'jumlah_data_sebelum']

# Menghitung jumlah data masing-masing kapal setelah preprocessing
jumlah_data_sesudah = filtered_data8['msg_mmsi'].value_counts().reset_index()
jumlah_data_sesudah.columns = ['msg_mmsi', 'jumlah_data_sesudah']

# Menggabungkan data jumlah data sebelum dan sesudah preprocessing
data_perubahan = jumlah_data_sebelum.merge(jumlah_data_sesudah, on='msg_mmsi', how='outer')

# Menampilkan data perubahan
print(data_perubahan)

       msg_mmsi  jumlah_data_sebelum  jumlah_data_sesudah
0     525005357                77532                17709
1     525019545                72029                19084
2     525000033                65473                16399
3     525017090                56091                17655
4     525007232                49812                17621
...         ...                  ...                  ...
1398  525016441                   31                   31
1399  477669400                   31                   22
1400  525015534                   30                   23
1401  525400142                   29                   27
1402  525020293                   29                   27

[1403 rows x 3 columns]

In [12]:
import pandas as pd

# Mengurutkan data berdasarkan MMSI dan waktu
filtered_data8 = filtered_data8.sort_values(by=['msg_mmsi', 'dt_date.time1'])

# Menambahkan kolom baru 'previous_time' yang berisi waktu sebelumnya untuk setiap kapal
filtered_data8['previous_time'] = filtered_data8.groupby('msg_mmsi')['dt_date.time1'].shift(1)

# Menghitung selisih waktu antara waktu saat ini dan waktu sebelumnya (dalam detik)
filtered_data8['time_diff'] = (filtered_data8['dt_date.time1'] - filtered_data8['previous_time']).dt.total_seconds()

# Mengidentifikasi data yang berada dalam interval waktu yang sama (dalam hal ini, 1 menit)
filtered_data8['is_duplicate_within_1_minute'] = (filtered_data8['time_diff'] <= 60) & (filtered_data8['time_diff'] >= 0)

# Memfilter data untuk hanya menyertakan data yang bukan duplikat dalam 1 menit
filtered_data9 = filtered_data8[~filtered_data8['is_duplicate_within_1_minute']]

# Menghapus kolom-kolom tambahan yang tidak diperlukan lagi
filtered_data9 = filtered_data9.drop(columns=['previous_time', 'time_diff', 'is_duplicate_within_1_minute'])

# Menampilkan summary data dan jumlah data
print("Jumlah data setelah filtering:", filtered_data9.shape[0])
jumlah_kapal9 = filtered_data9['msg_mmsi'].nunique()
print("Jumlah kapal:", jumlah_kapal9)

Jumlah data setelah filtering: 568670
Jumlah kapal: 1403

In [14]:
import pandas as pd

# Simpan filtered_data7 ke dalam file CSV
filtered_data9.to_csv('preprocessed_568670.csv', index=False)

In [15]:
# Simpan filtered_data ke dalam file CSV
filtered_data8.to_csv('preprocessed_1392552.csv', index=False)

In [13]:
# Menghitung jumlah data masing-masing kapal sebelum preprocessing
jumlah_data_sebelum = filtered_data8['msg_mmsi'].value_counts().reset_index()
jumlah_data_sebelum.columns = ['msg_mmsi', 'jumlah_data_sebelum']

# Menghitung jumlah data masing-masing kapal setelah preprocessing
jumlah_data_sesudah = filtered_data9['msg_mmsi'].value_counts().reset_index()
jumlah_data_sesudah.columns = ['msg_mmsi', 'jumlah_data_sesudah']

# Menggabungkan data jumlah data sebelum dan sesudah preprocessing
data_perubahan = jumlah_data_sebelum.merge(jumlah_data_sesudah, on='msg_mmsi', how='outer')

# Menampilkan data perubahan
print(data_perubahan)

       msg_mmsi  jumlah_data_sebelum  jumlah_data_sesudah
0     525019545                19084                 2683
1     525005357                17709                 2949
2     525017090                17655                 3023
3     525007232                17621                 3385
4     525019409                16727                 3175
...         ...                  ...                  ...
1398  525006213                   23                   15
1399  477669400                   22                   19
1400  525010156                   20                   10
1401  564911000                   20                   14
1402  351621000                   18                   15

[1403 rows x 3 columns]